<div class="review">
  <%= form_for @review do |f| %>
    <%= f.label :text, "Write a review!" %><br>
    <%= f.text_area :text, class: 'form' %><br>
    <%= f.submit %>
  <% end %>
</div>


<div class="create">
  <%= form_for @place do |f| %>
  	<%= f.label :place, "Add a new place" %><br>
  	<%= f.text_field :place %><br>

  	<%= f.label :description %><br>
  	<%= f.text_area :text %><br>

  	<%= f.label :address %><br>
  	<%= f.text_field :text %><br>

  	<%= f.label :phone %><br>
  	<%= f.text_field :text %><br>

  	<%= f.label :website %><br>
  	<%= f.text_field :text %><br>

  	<%= f.submit %>
  <% end %>
</div>