<div class="place_container">

	<header>
		<h1><%= @place.name %></h1>
		<div id="place_score">Score: <%= @place.score %></div>
		<div id="place_phone">Phone: <%= @place.phone %></div>
		<div id="place_address">Address: <%= @place.address %></div>
		<div id="place_website">Website: <%= @place.website %></div>
	</header>

	<div class="place_map_container"><%= @place.map %></div>
	<div class="photo_container">
		<%# @place.photos.each do |photo| %>
			<%# render :"photos/show", locals: {:photo => photo} %>
		<%# end %>
	</div>
	<p class="place_description"><%= @place.description %></p>

	<div class="reviews_container">
		<% @place.reviews.each do |review| %>
		<%= render :"reviews/show", locals: {:review => review} %>
		<% end %>
	</div>

</div>